@font-face {
    font-family: 'Patria';
    src: url('fonts/Patria_Bold.otf') format('otf'),
         url('fonts/Patria_Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
/*  Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", serif;
    font-size: 18px;
    line-height: 1.7em;
}
/*  Titulos */
.title{
    font-family: 'Patria', sans-serif;
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 500;
}
.titulo-principal{
    padding: 40px 80px;
}
.parrafo{
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.8;
    font-size: 18px;
}
/*  Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #611232;
    color: white;
    padding: 20px;
}
.banner__image {
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 6px;
}
.three-column-section__title{
    font-family: 'Patria', sans-serif;
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 400;
    color: #fff;
}
.banner__content {
    text-align: center;
}
/*  Secci贸n de Video */
.video-section {
    text-align: center;
    margin:  auto;
    width: 80%;
}
.video-section img{
    max-width: 550px;
}
.video-section-one-column{
    text-align: center;
    flex-direction: column;
}
.video-3{
    max-width: 100%;
}
.video-section__iframe {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
.video-section__info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    max-width: 80%;
}
.video-principal{
    width:1020px;
}
.video-section__title{
    margin: 2rem 1rem 1rem;
}
/*  Bot贸n debajo del video */
.video-section__button-container {
    justify-content: center;
    margin-top: 20px;
}
.video-section__button {
    background-color: #611232;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
/*  Efecto hover */
.video-section__button:hover {
    background-color: #8a1e48;
}
.video-section{
    margin: 0 auto;
    width: 80%;
}
.two-column-section__minium{
    width: 45%;
}

.btn-secodary{
    background-color: transparent;
    border: 2px solid #611232;
    color:#611232;
    padding: 10px;
    font-size: 16px;
    min-width: 300px;
}
.btn-secodary:hover{
    background-color: #9C2348;
    color: #fff;
    transition: background-color 0.5s;
}
/*  Secci贸n con Imagen y Texto */
.image-text-section { 
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
}
.one-column-section{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
}
.two-column-section__column{
    width: 45%;
}
.mesas{
    max-width: 550px;
}
.image50{
    max-width: 100%;
}
/*  Secci贸n con 3 Columnas y Fondo de Color */
.three-column-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
.three-column-section--colored {
    display: flex;
    background-color: #611232;
    padding: 40px 0;
    color: white;
    width: 100%;
}
.video-section-one-column{
    display: flex;
}
.column{
    width: 33.33%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}
/*  Secci贸n con 4 Columnas en 2 Filas */
.four-column-section {
    width: 80%;
    margin: 40px auto;
}
.four-column-section__row {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    gap: 20px;
}
.four-column-section__column {
    flex: 1;
    text-align: left;
}
.four-column-section__column--image img {
    width: 100%;
    max-width: auto;
    border-radius: 8px;
}
/*  Secci贸n de Ancho Completo con Imagen de Fondo */
.full-width-section {
    position: relative;
    width: 100%;
    height: 600px; /* Ajusta la altura seg煤n sea necesario */
    background: url('https://www.gob.mx/cms/uploads/image/file/958190/7aade6ec-1772-4306-9cea-05e5aa61897a.jpeg') top/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}
/*  Filtro de opacidad sobre la imagen */
.full-width-section__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad (0.5 es un 50%) */
}
/*  Contenido encima del fondo */
.full-width-section__content {
    position: relative;
    z-index: 1; /* Asegura que el texto est茅 encima del filtro */
    max-width: 80%;
}
/*  Estilos del texto */
.full-width-section__title {
    font-size: 32px;
    margin-bottom: 10px;
}
.full-width-section__paragraph {
    font-size: 18px;
}
.margin{
    margin-top: 20px;
}
.img-prueba{
    width: 800px;
}
.reuniones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #611232;
    color: #fff;
    height: 50px;
}
.reunion{
    width: 100%;
}
.parrafo-reu{
    text-align: justify;
}
.columna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #001834;
    color: #fff;
    height: 50px;
}

.notas{
    display: flex;
    align-items: start;
    padding: 20px;
    margin: 0 auto;
    width: 90%;

}
.nota{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 10px;
    padding: 20px;
}
.nota h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.nota-link{
    width: 100%;
    background-color: #001834;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
}
footer{
    height: 60px;
}
.footer-pleca {
    background-color: #fff;
    background-image: url(https://framework-gb.cdn.gob.mx/gobmx/img/pleca.svg);
}
.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*  Responsividad */
@media (max-width: 768px) {
    .title{
        font-family: 'Patria', "Noto Sans";
        font-size: 28px;
        line-height: 1.2em;
        font-weight: 600;
    }
    .parrafo{
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 1.8;
        font-size: 18px;
    }
    .banner {
        flex-direction: column;
    }
    .video-section{
        width: 90%;
    }
    .video-section iframe {
        height: 300px;
    }
    .video-principal{
        width:100%;
    }
    .video-section__info{
        flex-direction: column;
        gap: 0;
        max-width: 90%;
    }
    .mobile-img{
        order: 4;
    }
    .image-text-section{
        width: 80%;
        margin: 0 auto;
    }
    .video-section__button{
        width: 100%;
    }
    .image-text-section{
        margin: 40px auto;
        width: 100%;
    }
    .two-column-section__column{
        margin: 0 auto;
        width: 90%;
    }
    .video-2{
        margin-top: 20px;
        width: 100%;
    }
    .two-column-section__column img{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .one-column-section{
        flex-direction: column;
    }
    .two-column-section__minium{
        margin-top: 10px;
        width: 90%;
        margin: 0 auto;
    }
    .three-column-section{
        width: 95%;
    }
    .three-column-section,
    .image-text-section {
        flex-direction: column;
    }
    .two-column-section__column img {
        width: 100%;
    }
    .column{
        width: 90%;
        padding: 10px 0;
        margin: 0 auto;
    }
    .reuniones{
        height: 100px;
        text-align: center;
    }
    .notas{
        flex-direction: column;
    }
    .nota{
        width: 100%;
    }
    .info-text{
        max-width: 100%;
    }
    .btn-secodary{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .three-column-section__title{
        font-size: 28px;
    }
    .four-column-section__row {
        flex-direction: column;
        align-items: center;
    }
    .full-width-section {
        height: auto;
    }
    .full-width-section__title {
        font-size: 24px;
    }
    .full-width-section__paragraph {
        font-size: 16px;
    }
    .img-prueba{
        width: 350px;
    }
    .titulo-principal{
        padding: 0;
    }
    .order-3{
        order: 3;
    }
}
